{{- $flavor := . -}}
{{- $ctp := include ".chezmoitemplates/catppuccin_palette.json" | fromJson -}}
{{- $p := index $ctp $flavor -}}
{{- $panel := index $p "mantle" -}}
{{- $ribbon := index $p "text" -}}
{{- if eq $flavor "latte" -}}
  {{- $panel = index $p "crust" -}}
  {{- $ribbon = index $p "subtext1" -}}
{{- end }}
    text_unselected {
      base "{{ index $p "text" }}"
      background "{{ $panel }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    text_selected {
      base "{{ index $p "text" }}"
      background "{{ index $p "surface2" }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    ribbon_selected {
      base "{{ $panel }}"
      background "{{ index $p "pink" }}"
      emphasis_0 "{{ index $p "red" }}"
      emphasis_1 "{{ index $p "peach" }}"
      emphasis_2 "{{ index $p "pink" }}"
      emphasis_3 "{{ index $p "blue" }}"
    }
    ribbon_unselected {
      base "{{ $panel }}"
      background "{{ $ribbon }}"
      emphasis_0 "{{ index $p "red" }}"
      emphasis_1 "{{ index $p "text" }}"
      emphasis_2 "{{ index $p "blue" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    table_title {
      base "{{ index $p "pink" }}"
      background "{{ $panel }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    table_cell_selected {
      base "{{ index $p "text" }}"
      background "{{ index $p "surface2" }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    table_cell_unselected {
      base "{{ index $p "text" }}"
      background "{{ $panel }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    list_selected {
      base "{{ index $p "text" }}"
      background "{{ index $p "surface2" }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    list_unselected {
      base "{{ index $p "text" }}"
      background "{{ $panel }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "green" }}"
      emphasis_3 "{{ index $p "pink" }}"
    }
    frame_unselected {
      base "{{ index $p "surface0" }}"
      emphasis_0 "{{ index $p "overlay0" }}"
      emphasis_1 "{{ index $p "overlay1" }}"
      emphasis_2 "{{ index $p "overlay2" }}"
      emphasis_3 "{{ index $p "surface1" }}"
    }
    frame_selected {
      base "{{ index $p "pink" }}"
      emphasis_0 "{{ index $p "peach" }}"
      emphasis_1 "{{ index $p "sky" }}"
      emphasis_2 "{{ index $p "mauve" }}"
      emphasis_3 "{{ index $p "lavender" }}"
    }
    frame_highlight {
      base "{{ index $p "peach" }}"
      emphasis_0 "{{ index $p "mauve" }}"
      emphasis_1 "{{ index $p "pink" }}"
      emphasis_2 "{{ index $p "peach" }}"
      emphasis_3 "{{ index $p "peach" }}"
    }
    exit_code_success {
      base "{{ index $p "green" }}"
      emphasis_0 "{{ index $p "sky" }}"
      emphasis_1 "{{ $panel }}"
      emphasis_2 "{{ index $p "pink" }}"
      emphasis_3 "{{ index $p "blue" }}"
    }
    exit_code_error {
      base "{{ index $p "red" }}"
      emphasis_0 "{{ index $p "yellow" }}"
      emphasis_1 "{{ index $p "maroon" }}"
      emphasis_2 "{{ index $p "peach" }}"
      emphasis_3 "{{ index $p "mauve" }}"
    }
    multiplayer_user_colors {
      player_1 "{{ index $p "pink" }}"
      player_2 "{{ index $p "blue" }}"
      player_3 "{{ index $p "mauve" }}"
      player_4 "{{ index $p "yellow" }}"
      player_5 "{{ index $p "sky" }}"
      player_6 "{{ index $p "peach" }}"
      player_7 "{{ index $p "red" }}"
      player_8 "{{ index $p "lavender" }}"
      player_9 "{{ index $p "flamingo" }}"
      player_10 "{{ index $p "maroon" }}"
    }
