layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zjstatus" {
                format_left   "{mode} #[fg=magenta,bold]{session}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=bright_black]{char}"
                border_position "top"
                hide_frame_for_single_pane "false"

                mode_normal       "#[fg=blue,reverse,bold] NORMAL "
                mode_locked       "#[fg=yellow,reverse,bold] LOCKED "
                mode_tab          "#[fg=green,reverse,bold] TAB "
                mode_pane         "#[fg=blue,reverse,bold] PANE "
                mode_resize       "#[fg=magenta,reverse,bold] RESIZE "
                mode_session      "#[fg=red,reverse,bold] SESSION "
                mode_scroll       "#[fg=green,reverse,bold] SCROLL "
                mode_search       "#[fg=blue,reverse,bold] SEARCH "
                mode_move         "#[fg=yellow,reverse,bold] MOVE "
                mode_rename_tab   "#[fg=green,reverse,bold] RENAME TAB "
                mode_rename_pane  "#[fg=blue,reverse,bold] RENAME PANE "
                mode_enter_search "#[fg=blue,reverse,bold] SEARCH "

                tab_normal    "#[fg=bright_black] {name} "
                tab_active    "#[fg=default,bold] {name} "
                tab_separator "#[fg=bright_black] | "

                datetime "#[fg=bright_black,bold] {format} "
                datetime_format "%Y-%m-%d %H:%M:%S"
                datetime_timezone "Europe/Sofia"
            }
        }
    }
}
