{
  "themes": [
    {
      "name": "Catppuccin Custom Light",
      "appearance": "light",
      "colors": {
        "background": "{{ .catppuccin_custom.light.base }}",
        "backgroundSecondary": "{{ .catppuccin_custom.light.surface0 }}",
        "foreground": "{{ .catppuccin_custom.light.text }}",
        "accent": "{{ .catppuccin_custom.light.pink }}",
        "selection": "{{ .catppuccin_custom.light.surface1 }}",
        "loader": "{{ .catppuccin_custom.light.sky }}",
        "red": "{{ .catppuccin_custom.light.red }}",
        "orange": "{{ .catppuccin_custom.light.peach }}",
        "yellow": "{{ .catppuccin_custom.light.yellow }}",
        "green": "{{ .catppuccin_custom.light.green }}",
        "blue": "{{ .catppuccin_custom.light.blue }}",
        "purple": "{{ .catppuccin_custom.light.mauve }}",
        "magenta": "{{ .catppuccin_custom.light.pink }}"
      }
    },
    {
      "name": "Catppuccin Custom Dark",
      "appearance": "dark",
      "colors": {
        "background": "{{ .catppuccin_custom.dark.base }}",
        "backgroundSecondary": "{{ .catppuccin_custom.dark.surface0 }}",
        "foreground": "{{ .catppuccin_custom.dark.text }}",
        "accent": "{{ .catppuccin_custom.dark.pink }}",
        "selection": "{{ .catppuccin_custom.dark.surface1 }}",
        "loader": "{{ .catppuccin_custom.dark.sky }}",
        "red": "{{ .catppuccin_custom.dark.red }}",
        "orange": "{{ .catppuccin_custom.dark.peach }}",
        "yellow": "{{ .catppuccin_custom.dark.yellow }}",
        "green": "{{ .catppuccin_custom.dark.green }}",
        "blue": "{{ .catppuccin_custom.dark.blue }}",
        "purple": "{{ .catppuccin_custom.dark.mauve }}",
        "magenta": "{{ .catppuccin_custom.dark.pink }}"
      }
    }
  ]
}
