[Unit]
Description=Helheim Emacs daemon
ConditionPathExists=%h/.local/share/helheim/early-init.el

[Service]
Type=simple
ExecStart=%h/.local/bin/emacs-tui --daemon
Restart=always
RestartSec=2
TimeoutStopSec=30

[Install]
WantedBy=default.target
